*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-image: url(/assets/IMG_2190.JPG);
}

a{
    text-decoration: none;
    color: lavender;
}

a:hover{
    color: darkred;
    cursor: pointer;
}

#page_logo{
    height: 7cm;
    width: 7cm;
    margin-left: 1cm;
}

nav{
    float: right;
    margin: 1cm;
    background-color: crimson;
    padding: 1.5cm;
    border-style: groove;
}

/* for mobile layout */

@media only screen and (max-width:768px){
    nav{
        width: 100%;
        height: 2cm;
    }
}

nav > a{
    padding: 30px;
    font-size: 25px;
    font-weight: 800;
}

.introduction{
    text-align: center;
    color: rgb(83, 0, 0);
    font-size: 1cm;
}

@media only screen and (max-width:768px){
    .introduction{
        text-align: center;
        font-size:0.5cm;
    }
}

#title-text{
    width: 50%;
    margin-bottom: 1cm;
    font-size: 20px;
    margin-left: 8cm;
}

.form_title{
    font-size: 28px;
}

.signup_form, label{
    font-weight: bold;
}

.signup_form, input{
    margin: 14px;
    font-size: 18px;
}

input{
    border-radius: 15px;
    background-color: rgb(198, 250, 232);
}

#progress{
    width:90%;
    height: 1cm;
}

#first_name, #last_name{
    width: 9cm;
    height: 1cm;
    margin-left: 1%;
}

#country{
    height: 1cm;
    margin-left: 120px;
    border-radius: 16px;
    background-color: rgb(198, 250, 232);
 }

 #street_address, #post_code{
     height: 1cm;
     width: 9cm;
     margin-left: 65px;
 }

#description_text{
    font-size: small;
}



input[type=checkbox]:checked ~ div {
    display: none;
}

#next_button{
    font-size: 30px;
    float: right;
    width: 7cm;
    height: 4cm;
}