
* {
	box-sizing: border-box;
}

body{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin:0;
}

img{
	margin-left:50px;
}

.column {
  float: left;
  height: 655px;
}

.left {
	width: 23%;
	padding:10px;

}

.right {
	width: 77%;
    padding: 20px;
	background-color:#bbb ;
}

.underTitles{
	background-color:rgb(100,220,355);
}

.content{
	font-size:20px;
	margin-left:10px;
}