
* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

ul {  list-style: none}
a { text-decoration: none}
a:link { color: black; }
a:visited { color: grey; }
a:hover {	color: #e3e3e3;}

body{
	font-family: calibri, sans-serif;
}

h1{
	padding-top:3%;
	padding-left:10%;
	padding-bottom:5px;
}

#subHeader{
	padding-left:10%;
	padding-bottom:5%;
	color: rgb(100,100,100);
}

header{
	background-color:rgb(245,245,245);
	border-bottom: inset 2px rgb(230,230,230);
}
nav{
	margin:1%;
	margin-left:10%;
	font-weight:bold;
}

nav ul li{
	display: inline-block;
	padding:10px;
}

#imgInterior{
	max-height:350px;
	width:100%;
	margin-bottom:3%;
}

.firstColumn{
	float: left;
	width: 45%;
	padding-left:15%;

}

.secondColumn{
	float: right;
	width: 55%;

}

firstColumn+h4{
	padding-bottom:10px;
	font-weight:bold;
}

h2{
	font-weight:bold;
	padding-bottom:10px;
}

h4 + p{
	font-size:small;
	margin-right:100px;
}

h2 + p{
	margin-right:200px;
}

.firstRow{
	margin-bottom:5%;
}

.firstRow:after{
  display: flex;
  content: "";
  display: table;
  clear: both;
}

#logos img{
	width:180px;
	height:180px;
	padding:5px;
}

 #logos{
	margin-right:150px;
}

.secondRow:after{
  display: flex;
  content: "";
  display: table;
  clear: both;
}

footer a:link{	color:white;}
footer a:visited{ color:rgb(250,200,5)}
footer a:hover{	color:black;}

footer{
	color:white;
	margin-top:5%;
	background-color:rgb(130,0,255);
}

.footerList{
	padding-left:15%;
	padding-right:10%;
	padding-top:3%;
	padding-bottom:5%;
}
.footerList>li{
	display: inline-table;
	margin-right:120px;
}

.footerList li li{
	padding-top:20px;
	padding-bottom:10px;
	font-weight:bold;
	border-bottom: inset 1px grey;
}

iframe{
	width:150px;
	padding-top:10px;
	padding-bottom:20px;
	border-style:none;
}